<section class="detail-data">
    <h2><%- datas.title %></h2>
    <hr>
    <p><span>Location:</span> <%- datas.location %></p>
    <p><span>Company:</span> <%- datas.company %></p>
    <p><span>Job Link:</span> <a href="<%- datas.url %>" target="_blank">Apply Now!</a></p>
    <p><span>Summary:</span> <%- datas.summary %></p>
    <p><span>Preferred Skills:</span> <%- datas.skill %></p>
    <form action="/status" method="post" class="form-data">
        <input type='hidden' id='title' name="title" value="<%= datas.title %>" required />
        <input type='hidden' id='location' name="location" value="<%= datas.location %>" required />
        <input type='hidden' id='company' name="company" value="<%= datas.company %>" />
        <input type='hidden' id='summary' name="summary" value="<%= datas.summary %>" />
        <input type='hidden' id='url' name="url" value="<%= datas.url %>" />
        <input type='hidden' id='skill' name="skill" value="<%= datas.skill %>" />
        <button id='button' type='submit'>Save Job</button>
    </form>
</section>
