<% let action = formAction === 'delete' ? `/status/${results.id}?_method=DELETE` : '/update'; %>

<form action="<%= action %>" method="post">

  <input type='hidden' id='title' name="title" value="<%= results.title %>" required />
  <input type='hidden' id='location' name="location" value="<%= results.location %>" required />
  <input type='hidden' id='summary' name="summary" value="<%= results.summary %>" />
  <input type='hidden' id='url' name="url" value="<%= results.url %>" />
  <input type='hidden' id='skill' name="skill" value="<%= results.skills %>" />
  <input type='hidden' id='company' name="company" value="<%= results.company %>" />
  <input type="hidden" name="id" value="<%- results.id %>">
  <button name="delete">Delete From Job List</button>
</form>