<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/layout/head.ejs') %>
<body>
    <%- include('../partials/layout/header.ejs') %>
    <% data.forEach(datas => { %>
    <section class="data-card">
    <h2><%- datas.title %></h2>
    <p><%- datas.location %></p>
    <p><%- datas.company %></p>
    <form action="/searches/detail"  method="post" class="form-data">
        <input type='hidden' id='title' name="title" value="<%= datas.title %>" required />
        <input type='hidden' id='location' name="location" value="<%= datas.location %>" required />
        <input type='hidden' id='company' name="company" value="<%= datas.company %>" />
        <input type='hidden' id='summary' name="summary" value="<%= datas.summary %>" />
        <input type='hidden' id='url' name="url" value="<%= datas.url %>" />
        <input type='hidden' id='skill' name="skill" value="<%= datas.skill %>" />
        <button id='button' type='submit'>View in detail</button>
    </form>
    </section>
    <% }) %>
    
    <button id='azunaButton'>azuna</button>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/app.js"></script>  
</body>

</html>