<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/layout/head.ejs') %>
<body>
    <%- include('../partials/layout/header.ejs') %>
    <% data.forEach(datas => { %>
    <h2><%- datas.title %></h2>
    <p><%- datas.location %></p>
    <p><%- datas.company %></p>
    <p><a href="<%= datas.url %>">Link</a></p>
    <p><%- datas.skill %></p>
    <% }) %>
    <script src="/js/app.js"></script>  
</body>

</html>